/* Century Gothic Bold */
@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/centurygothic_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Helvetica Neue Black */
@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

/* Helvetica Neue Medium */
@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

/* Raleway SemiBold */
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* Inter Medium Font */
@font-face {
  font-family: 'InterMedium';
  src: url('./fonts/Inter_24pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
