/* Century Gothic Bold */
@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/centurygothic_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Raleway SemiBold */
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

/* Inter Medium Font */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

